<header>
  <div class="header-container flex column center">
    <div class="header-logo flex sa">
      {{#if @site.logo}}
      <a class="site-nav-logo" href="{{@site.url}}"><img src="{{img_url @site.logo size="xs"}}"
          alt="{{@site.title}}" /></a>
      {{else}}
      <a class="site-nav-logo center" href="{{@site.url}}">{{@site.title}}</a>
      {{/if}}
    </div>
    <h1 class="page-title">{{@site.title}}</h1>
    <h2 class="page-description">{{@site.description}}</h2>
    <div class="navbar">{{>site-nav}}</div>
  </div>
</header>